/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: auto;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

a:visited {
  color: black;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  .main-container {
    padding: 0;
  }
}

/****** Header ***********/
#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 5em auto;
  margin-bottom: 30px;
}

#header-logo {
  height: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 30px;
}

.header-container img {
  height: 15px;
}

#accommodation-activities a:visited {
  color: inherit;
}

#accommodation-activities a {
  color: var(--main-color);
  text-decoration: none;
  margin-left: 30px;
}

#accommodation-activities {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
}

#accommodation-activities a:hover {
  border-top: 2px solid var(--main-color);
  color: #0065fc;
}

#header-subtitle {
  margin-top: 30px;
  grid-column: 1 / -1;
}

#header-subtitle p,
#header-subtitle h2 {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  #header-container {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  #header-container {
    width: 100%;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  #header-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }

  #accommodation-activities {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 100%;
    margin-top: 25px;
  }
  #accommodation-activities a {
    margin-left: 0;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 15px;
  }

  #accommodation-activities a:hover {
    border-bottom: 2px solid var(--main-color);
    border-top: none;
    color: var(--main-color)
  }
  #header-subtitle {
    text-align: left;
    padding: 0 20px;
  }
}

/****** Search Bar ***********/

#search {
  display: grid;
  grid-template-columns: 50px 195px 93px;
  grid-template-rows: 49px;
  margin-bottom: 30px;
}

#location-pin {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  height: 47px;
  line-height: 47px;
  width: 50px;
}

.fa-location-dot {
  color: black;
  display: inline-block;
  vertical-align: middle;
}

#search-entry {
  height: 47px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  border-top: 1px solid var(--main-bg-color);
  border-left: none;
  border-bottom: 1px solid var(--main-bg-color);
  border-right: none;
  font-family: "Raleway", sans-serif;
  padding: 0;
}

#search-button {
  height: 49px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
  grid-column-start: 3;
  grid-column-end: 4;
  border: 1px solid var(--main-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#search-button .search-icon {
  display: none;
}

@media (max-width: 768px) {
  #search {
    padding: 0 20px;
    margin-top: 30px;
    justify-self: center;
  }

  #search-button {
    width: 49px;
    border-radius: 20px;
  }

  #search-button .search-icon {
    display: inline;
    color: #ffffff;
  }

  #search-button #search-text {
    display: none;
  }
}

/****** Filter ***********/

#filters {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
}

.filter-button {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  height: 48px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: white;
  padding: 4px 19px;
  margin-left: 20px;
}

.filter-button:hover {
  background-color: #deebff;
}

.filter-button-text {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  #filters {
    flex-direction: column;
    align-items: flex-start;
  }

  #filter-title-container {
    display: block;
  }

  .filter-button {
    margin-left: 0;
    margin-right: 9px;
    padding: 4px 15px;
  }
}

@media (max-width: 768px) {
  #filters {
    width: 100%;
    padding: 0px 20px;
  }

  .filter-button {
    width: 162.5px;
    padding: 4px 18px;
  }

  .filter-button-text {
    font-size: 14px;
  }

  #filter-buttons-container {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: auto auto;
    row-gap: 20px;
  }

  #budget {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #family-friendly {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

/****** Info *******/

#info-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#info-icon-container {
  display: flex;
  height: 24px;
  width: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

@media (max-width: 768px) {
  #info-container {
    padding: 0px 20px;
  }
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .accommodation-and-popular {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .accommodation-and-popular {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .accommodation-and-popular section {
    border-radius: 0;
  }
}

/****** Accommodation ***********/
#accommodation {
  background-color: var(--main-bg-color);
  width: 65%;
}

.accommodation-title {
  margin-bottom: 30px;
}

.accommodation-cards {
  display: grid;
  grid-template-rows: 210px 210px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  justify-content: space-between;
  align-content: space-between;
}

.accommodation-cards .card {
  width: 90%;
  height: 207.25px;
  justify-self: center;
  align-self: center;
}

.accommodation-cards .card-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.accommodation-cards .card-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.accommodation-cards .card-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
}

.accommodation-cards img {
  width: 100%;
  height: 114px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#show-more {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  #accommodation {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #accommodation {
    background-color: white;
  }

  .accommodation-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .accommodation-cards .card {
    width: 100%;
    aspect-ratio: ;
  }
}

/****** Popular ***********/
.popular {
  width: 32%;
  background-color: var(--main-bg-color);
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  aspect-ratio: 335 / 408;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .popular {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .popular-cards {
    display: flex;
    justify-content: space-between;
  }

  .popular-cards .card {
    width: 30%;
    aspect-ratio: 274.67 / 146;
    justify-content: flex-end;
  }

  .popular-cards img {
    width: 33%;
    aspect-ratio: 91.56 / 136;
  }

  .card-content {
    font-size: 0.85rem;
  }

  .popular-cards .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .popular-cards {
    display: flex;
    flex-direction: column;
  }

  .popular-cards .card {
    width: 100%;
    aspect-ratio: 335 / 146;
  }

  .popular-cards img {
    width: 33%;
    aspect-ratio: 335 /438;
  }
}

/****** Things to Do ***********/

#things-to-do {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(4, 298px);
  justify-content: space-between;
  padding: 30px;
}

.things-to-do-title {
  grid-column: span 4;
  margin-bottom: 30px;
}

.to-do-card {
  width: 100%;
  aspect-ratio: 298 / 439;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.to-do-card a {
  text-decoration: none;
}

.to-do-card h3 {
  margin-left: 20px;
}

.to-do-card img {
  width: 100%;
  aspect-ratio: 298 / 380;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1440px) {
  #things-to-do {
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    box-sizing: border-box;
  }

  .to-do-card h3 {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media (max-width: 1024px) {
  .to-do-card {
    aspect-ratio: 194 / 270;
  }

  .to-do-card img {
    aspect-ratio: 194 / 194;
  }

  .to-do-card h3 {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media (max-width: 768px) {
  #things-to-do {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 30px;
    gap: 15px;
  }

  .to-do-card {
    width: 100%;
    aspect-ratio: 315 / 200;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  }
  .to-do-card img {
    width: 100%;
    aspect-ratio: 315 / 141;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }

  .to-do-card h3 {
    margin-left: 20px;
  }

  .things-to-do-title {
    grid-column: span 1;
  }
}

/****** Footer ***********/
.footer-container {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.footer-container h3 {
  margin-bottom: 0;
}

.footer-container section {
  width: 33%;
  text-align: left;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.footer-list li {
  padding-top: 15px;
}

.footer-list a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-container section {
    width: 100%;
  }
}
