/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid,
.fa-regular {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Header ***********/
#header-container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 5em 10em;
}

#header-logo {
    height: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 30px;
}

#accommodation-activities a:visited {
    color: inherit;
}

#accommodation-activities a {
    color:#0065fc;
    text-decoration: none;
    margin-left: 30px;
}

#accommodation-activities {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
}

#accommodation-activities a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

#header-subtitle {
    margin-top: 30px;
}

#header-subtitle p, #header-subtitle h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

/****** Search Bar ***********/

#search {
  display: grid;
  grid-template-columns: 1fr 3.5fr 2.5fr;
  grid-template-rows: 4em;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  width: 400px;
  height: 49px;
  margin-bottom: 30px;
}

#location-pin {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  height: 49px;
  line-height: 49px;
}

.fa-location-dot {
  color: black;
  display: inline-block;
  vertical-align: middle;
}

#search-entry {
  height: 49px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  border-top: 2px solid #f2f2f2;
  border-left: none;
  border-bottom: 2px solid #f2f2f2;
  border-right: none;
  font-family: "Raleway", sans-serif;
}

#search-button {
  height: 49px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #0065fc;
  grid-column-start: 3;
  grid-column-end: 4;
  border: 2px solid #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/****** Accommodation And Popular ***********/
.header-container img {
    height: 15px;
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
  width: 65%;
}

/****** Popular ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 33px;
}

.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: 5px;
}
